// 引入清除默认样式
@import './reset.scss';

// 暗黑模式下的全局背景色
html.dark-background {
  background-color: #141414; // 你可以根据需要调整颜色值
  color: #ffffff; // 文字颜色也可以一并调整
}

//滚动条
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #18a754;
}
