// 引入清除默认样式
@import './reset.scss';

//滚动条
::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  background-color: #22272e;
}
::-webkit-scrollbar-thumb {
  background-color: #21c864;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #18a754;
}
