// src/styles/variable.scss
//主页面,侧边栏颜色
$layout-slider-color: #22272e;
//主页面,侧边栏宽度
$layout-slider-width: 200px;
//主页面,底部导航栏高度
$layout-tabbar-height: 60px;
//主页面,底部导航栏颜色
$layout-tabbar-color: #22272e;
