// src/styles/variable.scss
//主页面,侧边栏颜色
$layout-slider-color: #1d1c20;
//主页面,侧边栏宽度
$layout-slider-width: 200px;
//折叠后最小宽度
$layout-slider-min-width: 64px;
//主页面,底部导航栏高度
$layout-tabbar-height: 60px;
//主页面,底部导航栏颜色
// $layout-tabbar-color: #ddd;
